@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.4rem;
}

.title {
  margin: 2rem 0;
  font-size: 3rem;
  letter-spacing: 0.8px;
}

.container {
  width: 100%;
}

.start-game-btn,
.restart-game-btn {
  display: block;
  margin: 0 auto;
  border: none;
  border-radius: 6px;
  padding: 1rem 2rem;
  font-weight: bold;
  font-size: 1.7rem;
  cursor: pointer;
  background-color: #1f1f1f;
  color: #ededed;
  transition: transform 0.3s ease-out, opacity 0.15s ease-out;
}

.restart-game-btn {
  margin: 2rem 0;
}

.start-game-btn:hover,
.restart-game-btn:hover {
  opacity: 0.92;
}

.start-game-btn:active,
.restart-game-btn:active {
  transform: scale(0.97);
}

.game-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}

.player__container {
  width: 80%;
  flex-direction: column;
}

.player__container-name,
.computer__container-name {
  text-align: center;
  margin-bottom: 1.6rem;
}

.player__container-board,
.computer__container-board {
  grid-template-columns: repeat(10, 1fr);
}

.computer__container {
  width: 80%;
  flex-direction: column;
}

.cell {
  border: 1px solid #cccccc;
  background-color: #fafafa;
  width: 100%;
  height: 4rem;
}

/* Responsive Design */
@media screen and (min-width: 640px) {
  .game-container {
    flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .game-container {
    flex-direction: row;
  }
}

@media screen and (min-width: 1024px) {
  .game-container {
    flex-direction: row;
  }
}
